.proyectListLi {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 130px;
}

.proyectListLi.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.proyectListLi:hover {
    transition: 1.5s;
    box-shadow: rgb(85, 85, 85) 5px 5px 5px 5px;
}

.proyectListLiInfo {
    display: grid;
    width: 100%;
    height: 100%;
}

#proyectListLiBody,
#proyectListLiImages,
#proyectListLiBodyNext,
.editionsControlsProyects {
    margin-top: 15px;
    margin-bottom: 15px;
}

#proyectListLiBodyNext {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#proyectListBodyNext {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-item.active img,
.carousel-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 350px;
    min-height: 320px;
    max-width: 350px;
    max-height: 320px;
    object-position: center;
    border-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    padding: 0 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    z-index: 2;
}

.carousel-control-prev {
    left: 110px;
}

.carousel-control-next {
    right: 110px;
}

.editionsControlsProyects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

/* Lenguajes */

#proyectFieldLanguages {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}

.proyectLanguagesList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.proyectLanguageItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

.languageIcon {
    width: 45px;
    height: 45px;
}

.languageTitle {
    margin-top: 5px;
    font-size: medium;
}

.proyectDivH3Languages {
    font-size: larger;
}