#pdfBody {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#divPersonBody {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#pdfDivTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdfTitleSecTop h1 {
    margin: 25px 15px;
    font-weight: bolder;
}

#pdfTitleSecMiddle h1 {
    margin-bottom: 15px;
}

#pdfTitleSecBottom {
    width: 75%;
    border-bottom: 1.5px solid #000;
}

#pdfDivPersonBody {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#pdfPersonSec,
#pdfEducations,
#pdfWorks,
#pdfLanguages {
    width: 100%;
    margin: 25px 20px;
}

#pdfPersonSec h2,
#pdfEducationsSec h2,
#pdfWorksSec h2,
#pdfLanguagesSec h2 {
    font-size: xx-large;
}

#pdfPersonSecInfo {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.pdfPersonImg {
    max-width: 300px;
    max-height: 300px;
    margin-right: 15px;
    border-radius: 15px;
}

#pdfEducationsSec {
    margin-bottom: 45px;
}

#pdfEducationSecBottom {
    margin: 25px 25px 25px 0;
}

#pdfEducationSecBottom h2,
#pdfWorksSec h2,
#pdfLanguagesSec h2 {
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 15px;
    font-size: larger;
}

.pdfLanguesTypes,
.pdfLanguesTypesOther {
    font-size: x-large;
}

#pdfLanguagesOtherSec {
    margin-bottom: 40px;
}

.pdfLanguesTypesOther {
    margin-top: 35px;
}

#pdfDivButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 15px;
}

/* ---- Mobile ---- */

@media(max-width:576px) {

    h2 {
        font-size: large !important;
    }

    h3 {
        font-size: medium !important;
        margin-right: 15px !important;
    }

    #pdfPersonSecInfo {
        flex-direction: column;
    }

    .pdfPersonImg {
        max-width: 170px;
        max-height: 170px;
    }

}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {

    .pdfPersonImg {
        max-width: 200px;
        max-height: 200px;
    }
}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}