#educationsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin-top: 80px;
}

#educationsDivTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 10px 0;
}

#educationsList {
    padding: 0;
    width: 100%;
}