#educationsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#educationsDivTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 10px 0;
}

#educationsList {
    padding: 0;
}

#educationsList li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.educationDivImg {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    margin: 0;
}

.educationIcon {
    width: 40px;
    height: 40px;
}

.educationDivBody {
    flex: 10;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.educationDivDiv {
    display: flex;
}

.educationDivH3 {
    padding-right: 10px;
    font-size: medium;
}

.editionsControlsGeneral {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 15px;
}

#educationEdit, #educationDelete {
    margin-left: 7.5px;
}