#contactList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    list-style: none;
}

#contactList li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#contactList li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

.socialMediaIcon {
    max-width: 30px;
    max-height: 30px;
    margin: 0;
}

h5 {
    color: whitesmoke;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
}

.editionControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}

.editionControls button {
    margin: 5px;
}

#contactDelete, #contactEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}