#contactList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#contactList>li {
    display: flex;
    flex-direction: row;
    margin: 3.5px 0 3.5px 0;
}

#contactList>li>a {
    text-decoration: none;
    text-align: center;
}


.editionControlsContacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialMediaContactIcon {
    margin: 0 2.5px 5px 0;
    max-width: 35px;
    max-height: 35px;
    border-radius: 15px;
}

#contactEdit,
#contactDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}

/* ---- Mobile ---- */

@media(max-width:576px) {

    #contactList {
        padding-left: 0;
    }

    #contactList li {
        flex-direction: column;
        align-items: center;
    }

    .socialMediaContactIcon {
        max-width: 25px;
        max-height: 25px;
    }

    #contactList li a h5 {
        margin-bottom: 7.5px;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {

    #contactList {
        padding-left: 5px;
    }

    .socialMediaContactIcon {
        max-width: 30px;
        max-height: 30px;
    }
}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}