/* #worksDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

/* #worksDivTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
 */
/* #worksList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
} */



/* --------------- */

#worksDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#worksDivTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#worksDivH3Title {
    text-align: center;
    margin: 0;
}

#worksList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

