#socialMediasList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

#socialMediasList li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

#socialMediasList li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 2px 2.5px;
}

.socialMediaIcon {
    max-width: 30px;
    max-height: 30px;
    margin: 0 2.5px 5px 0;
}

h5 {
    color: whitesmoke;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
}

.editionControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#socialMediaDelete,
#socialMediaEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 1.5px 3px 0 3px;
}