.educationCardItem {
    display: grid;
    width: 100%;
    align-items: flex-start;
    width: 100%;
    border-radius: 15px;
    transition: 1.5s;
    padding: 15px;
    margin-bottom: 20px;
}

.educationCardItem:hover {
    transition: 1.5s;
    box-shadow: rgb(85, 85, 85) 5px 5px 5px 5px;
}

.educationDivImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    margin: 0;
}

.educationIcon {
    width: 40px;
    height: 40px;
}

.educationDivBody {
    flex: 10;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.educationDivBodyTop {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.educationDivBodyBottom {
    display: flex;
    flex-direction: column;
}

.educationDivDiv {
    display: flex;
}


.educationDivH3 {
    padding-right: 10px;
    font-size: medium;
}

.editionsControlsGeneral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 15px;
}

#educationEdit,
#educationDelete {
    margin-left: 7.5px;
}