.educationCardItem {
    display: grid;
    width: 100%;
    align-items: flex-start;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    margin-bottom: 130px;
    overflow: visible !important;
    margin-top: 150px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.educationCardItem.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.educationCardItem:hover {
    box-shadow: rgba(163, 163, 163, 0.733) 5px 5px 15px;
}

.educationDivImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    margin: 0;
}

.educationIcon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.educationDivBody {
    flex: 10;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

.educationDivBodyTop {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.educationDivBodyBottom {
    display: flex;
    flex-direction: column;
}

.editionsControlsGeneral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 15px;
}

#educationEdit,
#educationDelete {
    margin-left: 7.5px;
}

/* ---- Mobile ---- */

@media(max-width:576px) {
    .educationCardItem {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .educationCardItem.fade-in {
        width: 100%;
        margin-right: 15px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }

    .educationDivImg {
        align-self: center;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .editionsControlsGeneral {
        width: 100% !important;
        margin-bottom: 45px;
    }

    .educationIcon {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {
    .educationCardItem {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .educationCardItem.fade-in {
        width: 100%;
        margin-right: 15px;
        margin: 0;
        padding: 0;
    }

    .educationDivImg {
        align-self: center;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .editionsControlsGeneral {
        width: 100% !important;
        margin-bottom: 45px;
    }

    .educationIcon {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }
}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {
    .educationDivImg {
        margin-right: 10px;
    }

    .editionsControlsGeneral {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    #educationEdit, #educationDelete {
        margin-bottom: 10px;
    }
}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}