.languageListLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
     width: calc((100% - 4 * 20px) / 5);
}

.languageListLi.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.languageListLi:hover {
    box-shadow: rgb(85, 85, 85) 5px 5px 5px 5px;
    transition: 1.5s;
}

.languageListBodyMiddle {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.languageDivDiv {
    white-space: pre;
    display: flex;
    width: 100%;
}

.languageDivH3 {
    width: 100%;
    margin-right: 10px;
    padding-left: 0;
    font-size: larger;
    text-align: center;
}

.editionsControlsLanguage {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Cuando no hay admin, se oculta el espacio y contenido */
.editionsControlsLanguage.admin-hidden {
    height: 0;
    padding-bottom: 0;
    visibility: hidden;
}

/*  Cuando hay admin, muestra todo normalmente */
.editionsControlsLanguage.admin-visible {
    height: auto;
    padding-bottom: 15px;
    visibility: visible;
}

#languageEdit,
#languageDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

/* ---- Mobile ---- */

@media(max-width:576px) {
    .languageListLi {
        width: 100%;
    }

    .languageDivH3 {
        font-size: medium;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {
    .languageListLi {
         width: calc((100% - 2 * 20px) / 3);
    }
}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {
    .languageListLi {
         width: calc((100% - 2 * 10px) / 2);
    }
}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}