#iconHome {
    width: 27px;
    height: 27px;
    margin-right: 15px;
}

/* ---- Mobile ---- */

@media(max-width:576px) {
    #iconHome {
        width: 25px;
        height: 25px;
        margin-bottom: 20px;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {

}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {
    #iconHome {
        width: 40px;
        height: 40px;
    }
}
