.fieldDiv {
    width: 100%;
    margin-bottom: 1rem;
}

.fieldLabel {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.fieldTextArea:focus {
    outline: none;
    box-shadow: none;
}

.fieldTextArea {
    width: 100%;
    height: 80%;
    text-align: justify;
    border: none;
    padding-left: 5px;
    padding-right: 12px;
    resize: none;
    background-color: #E6E4D8;
    color: rgba(0, 0, 0, 0.8);
}

.fieldLabel a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* ---- Mobile ---- */

@media(max-width:576px) {

    .fieldLabel,
    .fieldTextArea {
        width: 100%;
        font-size: small;
    }

    .fieldTextArea {
        padding-left: 15px;
    }

    .fieldLabel {
        text-align: center;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {

    .fieldLabel,
    .fieldTextArea {
        width: 85%;
        font-size: medium;
        margin-left: 25px;
        padding: 0;
    }

    .workListBodyTop {
        margin-top: 15px;
    }

}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {

    .fieldLabel {
        width: 100%;
        font-size: medium;
        margin-left: 25px;
    }

    .fieldTextArea {
        width: 85%;
        font-size: medium;
    }

}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {
    .fieldTextArea {
        width: 85%;
        font-size: medium;
        padding: 0;
    }

    .fieldLabel {
        width: 100%;
        font-size: medium;
    }
}

/* ---- XX-Large ---- */

@media(min-width:1401px) {}