.cookie-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1f22;
    padding: 45px;
    border-radius: 10px;
}

.cookie-h1, .cookie-h2, .cookie-p {
    color: bisque;
}

.cookie-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.cookie-h2 {
    margin-bottom: 15px;
}

.cookie-link {
    font-size: large;
}


