.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: whitesmoke;
}

#layoutHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
    background-color: #212529;
}

#layoutScrollArea {
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 37, 41);
}

#layoutMain {
    flex: 1;
    padding: 1rem;
    max-width: 100%;
    background-color: rgba(33, 37, 41);
}

#layoutFooter {
    flex-shrink: 0;
    padding: 1rem;
    background-color: rgba(33, 37, 41);
}
