.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    background-color: rgba(33, 37, 41);
}

#layoutHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
    padding-right: env(safe-area-inset-right);
    width: 100%;
    box-sizing: border-box; 
}

#layoutScrollArea {
    margin-top: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#layoutMain {
    flex: 1;
}

#layoutFooter {
    flex-shrink: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}