#navbar {
    padding-left: 15px;
    padding-right: 15px;
}

#containerFuild {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.navbarLeft {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.navbarRight {
    justify-self: end;
    margin: 10px 0 10px 10px;
}

.navbarCenter {
    margin: 10px 10px 10px 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

#btnProfile,
#btnUsers,
#btnSignout {
    margin-left: 5px;
}

#btnProfile,
#btnUsers {
    margin-right: 5px;
}

#signatureH4 {
    font-family: 'Aguafina Script', cursive;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 10px;
}

/* ---- Mobile ---- */

@media (max-width: 576px) {
    #containerFuild {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }

    #signatureH4 {
        font-size: large !important;
        text-align: center;
    }

    .navbarLeft {
        flex-direction: column;
        padding-top: 15px;
    }

    .navbarRight {
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #btnProfile,
    #btnUsers,
    #btnSignout,
    .btn-outline-success {
        font-size: small !important;
        margin-bottom: 15px;
    }
}

/* ---- Medium ---- */

@media(min-width: 577px) and (max-width: 768px) {
    #containerFuild {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }

    #btnProfile,
    #btnUsers,
    #btnSignout {
        margin-left: 30px;
    }

    .navbarRight {
        justify-self: center;
    }
}

/* ---- Large ---- */

@media(min-width: 769px) and (max-width: 992px) {
    #containerFuild {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .navbarLeft {
        justify-self: start;
    }

    .navbarRight {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

/* ---- X-Large ---- */

@media(min-width: 993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width: 1401px) {
    #containerFuild {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .navbarLeft {
        justify-self: start !important;
        margin-left: 0;
    }
}