#langaugesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#languagesDivTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 15px 40px 15px;
}

#languageDivContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.languageCategory {
    width: 100%;
    padding: 15px;
}

.languageCategoryTitle {
    margin-bottom: 50px;
    padding-left: 20px;
}

.languageList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

/* ---- Mobile (para 1 tarjeta por fila) ---- */
@media (max-width: 576px) {
    .languageDivH3 {
        font-size: medium; 
    }
}

/* ---- Medium (para 2 tarjetas por fila) ---- */
@media (min-width: 577px) and (max-width: 768px) {
}

/* ---- Large (para 2 tarjetas por fila) ---- */
@media (min-width: 769px) and (max-width: 992px) {
}

/* ---- X-Large (para 3 tarjetas por fila) ---- */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* ---- XX-Large (para 5 tarjetas por fila) ---- */
@media (min-width: 1201px) {
}
