#langaugesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 100px 15px;
    margin-top: 50px;
    margin-bottom: 180px;
}

#languagesDivTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.languageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.languageDivContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* ---- Mobile ---- */

@media(max-width:576px) {
    .languageList {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ---- Medium ---- */

@media(min-width:577px) and (max-width: 768px) {}

/* ---- Large ---- */

@media(min-width:769px) and (max-width: 992px) {}

/* ---- X-Large ---- */

@media(min-width:993px) and (max-width: 1200px) {}

/* ---- XX-Large ---- */

@media(min-width:1401px) {
}
